<h1>글을써보자</h1>

<form action="/dashboard/create" method="POST">
    
    제목 : <input type="text" name="post_title" placeholder="제목을 입력해주세요"><br>
    
    내용 : <textarea name="post_content" rows="10"></textarea><br>
    
    제출 :  <input type = "submit" value="헤헤">
</form>

<%= @aa %>