<div class="center">
    <br><br>
    <img class="sad" src="https://vignette.wikia.nocookie.net/petitcomputer/images/2/2e/Tumblr_static_cropped-yung-sad.png" alt="사진">

    <br><br>
    <h2> 안되요!!!!! 저랑 친해져야해요:(</h2>
    <p><a href="/">여기</a>를 다시 눌러주세요~</p>
</div>