<div class=center>
    <br><br>
    <h1>[ LIKELION HW - 자기소개 웹페이지 만들기 ] </h1>
    
    <div class="container">
        <div class="row">
            <br><br>
            <a href="/picture"><img src="/assets/doyeonee.jpg" alt="사진"></a>
            
            <h3>안녕하세요! 저는 "김도연" 입니다 :)</h3>
            <br>
            <p>저에 대해 알고싶으시면 <strong>사진</strong>을 클릭해주세요!</p>
            <p>싫으시면 <a href="/here">이곳</a>을 클릭해주세요ㅠ</p>
            <br><br>
            <p><a href="/dashboard/view" >게시물쓰기</a></p>
        </div>
    </div>
</div>