<div class="center">
    
    <div class="flist">
        <img src="/assets/doyeonee.jpg" alt="사진">
        <br><br>
        
        <div class="box">
            <strong class="red">이 름 ?</strong> 김 도 연</div>
        <br>
        <div class="box">
            <strong class="orange">학 력 ?</strong> 숭실대학교 산업정보시스템공학과</div>
        <br>
        <div class="box">
            <strong class="yellow">나 이 ?</strong> 23살</div>
        <br>
        <div class="box">
            <strong class="green">사는 곳 ?</strong> 서울시 노원구 거주</div>
        <br>
        <div class="box">
            <strong class="blue">특기/취미 ?</strong> 사진찍기, 코노가기, 통기타연습(?)</div>
        <br>
        <div class="box">
            <strong class="darkblue">성 격 ?</strong> 사람들이랑 어울리는 것을 좋아합니다. <br>
                                   잘 웃습니당 :) <br>
                                   말을 참 잘 들어줍니다.<br>
                                   장난치는 것도 좋아합니당ㅎㅎ<br>
                                   처음엔 조금 낯을 가려서 조용(?)하지만 친해지면 전혀 그렇지 않습니다!</div>
        <br>
        <div class="box">
            <strong class="purple">마지막으로 ?</strong> 여러분들과 만난지 얼마 안되서 많이 못해진 것 같아요ㅠ<br>앞으로 남은 시간 많으니까 더 친해져요~~ :)</div>
    </div>
</div>