a{
    color: red;
    font-weight: bold;
}

img{
     width: 200px;
     height:250px; 
}


body {
  background: #FFCCCC;
}


.center{
    text-align: center;
}


.sad{
     width: 500px;
     height: 200px; 
}
.flist {
    padding: 15px;
    background-color: #FFCCCC;
    border: 3px solid #333333;
    margin-bottom: 10px;
}


.red{
    color: #FF0000;
}


.orange{
    color: #FF9900;
}


.yellow{
    color: #FFFF00;
}


.green{
    color: #006600;
}

.blue{
    color: #6666CC;
}


.darkblue{
    color: #000066;
}


.purple{
    color: #660066;
}